{{#each posts as |post|}}
  <article id="{{post.id}}" class="blogPost">
    <h2>{{post.title}}</h2>
    <h4>Posted by: {{post.author}}, on: {{post.date}}</h4>
    <p>{{post.body}}</p>
    <div class="banana">Likes: {{post.likes}}</div>
    <button type="button" class="comments-btn">Comments</button>
    <div class="comments-wrapper hide">
      <form class="comment-form" action="/" method="post">
        <input type="text" name="author" value="" placeholder="Comment author">
        <input type="text" name="body" value="" placeholder="Comment here" required>
        <input type="hidden" name="id" value="{{post.id}}">
        <input type="submit" name="submit" value="Submit Comment">
      </form>
      <div class="comments">
        {{#each post.comments}}
          <div>
            <h4>{{this.author}}, {{this.date}}</h4>
            <p>
              {{this.body}}
            </p>
          </div>
        {{/each}}
      </div>
    </div>
  </article>
{{else}}
  <article class="blogPost">
    <h1>No Content</h1>
  </article>
{{/each}}
