<!-- this is the dashboard view -->
<div class="userInfo profile"> <div class="namelabel"><h3>{{username}}</h3></div></div>
<div class="newPost profile">
  <form id="blogForm" action="/newpost" method="post">
    <input type="text" name="posttitle" placeholder="title....">
    <textarea name="postbody" placeholder="Type here..."></textarea>
    <input type="submit" value="Submit Post">
  </form>
</div>
<div class="myBlogPosts profile">
  <table>
    <th>
      Title
    </th>
    <th>

    </th>
    {{#each posts}}
          <tr>
            <td>
              <h2>{{this.title}}</h2>
            </td>
            <td>
              <a href="/editpost/{{this.id}}"><button>EDIT</button></a>
            </td>
          </tr>
    {{else}}
      <h2>No content</h2>
    {{/each}}
    </table>
</div>
