<!-- this is the index view -->
<div class="preamble profile blogPost">

  <img src="https://media.licdn.com/mpr/mpr/shrinknp_800_800/p/5/005/0ac/06b/23a92a4.png"/>
  <h1><strong>DEVELOPER MONKEY:</strong> Hey look at our Monkey blog! <br>
    <strong>MONKEY:</strong> Nah, it looks rubbish <br>
  <strong>DEVELOPER MONKEY:</strong> I'll give you a banana <br>
<strong>MONKEY:</strong> You know my sweet spot</h1>
</div>
<main class="blogContainer">
  {{>blogposts}}
</main>
<script type="text/javascript" src="../public/js/script.common.js"></script>
<script type="text/javascript" src="../public/js/script.home.js"></script>
