<!-- this is the index view -->

    <div class="blogContainer">
      <div class="empty">

      </div>
      <div class="blogPost">
        <h1>Blog 1</h1>
        <p>
          blog blogdskjflkdjbflwbef
          ewwekjfbkwejrfbkjwebrf
          erkfbwkerjfbkwejbrfkwebrf
        </p>

      </div>
      <div class="blogPost">
          <h1>Blog 2</h1>
          <p>
            blog blogdskjflkdjbflwbef
            ewwekjfbkwejrfbkjwebrf
            erkfbwkerjfbkwejbrfkwebrf
          </p>

      </div>
  </div>
