/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.Tasminions {
  float: left;
  font-size: 100px;
  margin-top: 10%; }

.monkey4 {
  background-image: url("http://www.clipartbest.com/cliparts/RcA/Aak/RcAAakBai.png");
  height: 55%;
  width: 32%;
  background-size: 100% 100%;
  float: left;
  margin-top: 14%;
  margin-left: -3%;
  opacity: 0.9; }
  .monkey4 .logintag {
    width: 38%;
    margin-top: 55%;
    margin-left: 10%;
    margin-right: 25%;
    background-color: #e0d8b7;
    text-align: center;
    text-shadow: 2px 3px 3px black; }
    .monkey4 .logintag h1 {
      color: #2a1a44;
      /* background-color: grey; */
      /* margin-left: 15%; */
      font-size: 2.2em;
      font-family: "Raleway"; }

.monkey3 {
  background-image: url("http://orig10.deviantart.net/a2fa/f/2014/323/c/d/monkey_silhouette_by_metalporsiempre-d86yyc5.png");
  height: 42%;
  width: 41%;
  background-size: 100% 100%;
  float: right;
  margin-top: -44%;
  margin-right: -9%;
  opacity: 0.9;
  z-index: -1;
  text-align: center; }
  .monkey3 .hometag {
    width: 31%;
    margin-top: 42%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #e0d8b7;
    text-align: center;
    text-shadow: 2px 3px 3px black; }
    .monkey3 .hometag h1 {
      color: #2a1a44;
      /* background-color: grey; */
      /* margin-left: 15%; */
      font-size: 2.2em;
      font-family: "Raleway"; }

.monkey2 {
  background-image: url("http://www.clipartbest.com/cliparts/biy/oBr/biyoBrL6T.png");
  width: 34%;
  height: 66%;
  margin-left: 34%;
  background-size: 100% 100%;
  margin-top: -20%;
  opacity: 0.9;
  float: right;
  text-align: center; }
  .monkey2 .abouttag {
    width: 43%;
    margin-top: 42%;
    margin-left: 35%;
    margin-right: 15%;
    background-color: #e0d8b7;
    text-align: center;
    margin-top: 89%;
    text-shadow: 2px 3px 3px black; }
    .monkey2 .abouttag h1 {
      color: #2a1a44;
      /* background-color: grey; */
      /* margin-left: 15%; */
      font-size: 2.2em;
      font-family: "Raleway"; }

.block {
  display: block;
  float: left;
  font-family: 'Raleway', sans-serif;
  font-size: 120px;
  font-weight: 600;
  color: #2a1a44;
  text-shadow: 3px 4px 4px white; }

.T {
  margin-top: 159px; }

.a {
  margin-top: 135px; }

.s {
  margin-top: 75px; }

.m {
  margin-top: 96px; }

.i {
  margin-top: 65px; }

.o {
  margin-top: 67px; }

.n {
  margin-top: 58px; }

.navbar {
  background-image: url("http://img09.deviantart.net/06ac/i/2014/344/3/9/branch_png_precut_by_black_cat16_stock-d6mxs1m.png");
  width: 101%;
  height: 48%;
  position: fixed;
  background-size: 105% 69%;
  margin-left: 0%;
  margin-top: -11%;
  background-repeat: no-repeat; }

.hamburger-menu {
  width: 88px;
  height: 13px;
  background-color: white;
  border-radius: 5px;
  position: relative; }

.hamburger-menu:after, .hamburger-menu:before {
  content: '';
  width: 100%;
  height: 13px;
  background-color: white;
  position: absolute;
  border-radius: 5px; }

.hamburger-menu:after {
  top: 21px; }

.hamburger-menu:before {
  top: 42px; }

.blogContainer {
  margin-top: 20%; }

.blogPost {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(196, 179, 135, 0.7);
  padding: 2em 2em;
  border-radius: 2em;
  margin-bottom: 2em; }
  .blogPost h2 {
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 0.7em; }
  .blogPost h4 {
    font-size: 0.8em;
    margin-bottom: 0.7em; }
  .blogPost p {
    font-size: 0.7em;
    text-align: justify;
    margin-bottom: 0.7em; }
  .blogPost .banana {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border-radius: 25px;
    font-size: 0.7em; }

.profile-container {
  margin-top: 20%; }

.profile {
  background-color: rgba(196, 179, 135, 0.7);
  padding: 2em 2em;
  border-radius: 2em;
  margin-bottom: 2em; }
  .profile .profile-title {
    text-align: center;
    margin: 1em 0; }
  .profile h3 {
    text-transform: uppercase; }
  .profile p {
    text-align: justify; }
  .profile .profile-img {
    background-size: contain;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px; }

body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a0/Lofty_Mt.Lu_by_Shen_Zhou.jpg");
  background-repeat: repeat-y;
  color: #2a1a44;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600; }

.content {
  position: absolute;
  top: 20vh;
  width: 70%;
  left: 15%; }

.empty {
  height: 450px; }

.hide {
  display: none; }

/*# sourceMappingURL=main.css.map */
