.profile-container {
  margin-top: 20%;
}

.profile {
  background-color: rgba(196, 179, 135, 0.8);
  padding: 2em 2em;
  border-radius: 2em;
  margin-bottom: 2em;

  .profile-title {
    text-align: center;
    margin: 1em 0;
  }

  h3 {
    text-transform: uppercase;
  }

  p {
    text-align: justify;
  }

  .profile-img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
  }
}
