<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../public/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Monkey Blog</title>
  </head>
  <body>
    <audio class="hide" controls autoplay>
      <source src="../../public/sounds/background-noise.mp3" type="audio/mp3">
    </audio>
    <div class="navbar">
      <div class="Tasminions">
        <div class="T block">T</div><div class="a block">A</div><div class="s block">S</div><div class="m block">M</div><div class="i block">I</div>
        <div class="n block">N</div><div class="i block">I</div><div class="o block">O</div> <div class="n block">N</div><div class="s block">S</div>
      </div>
      <div class="monkey3">
        <div class="hometag">
          <h1 class="label">HOME</h1>
        </div>

      </div>
      <div class="monkey4">
        <div class="logintag">

          <a href="/dashboard"><h1 class="label">LOGIN</h1></a>

        </div>

      </div>
      <div class="monkey2">
        <div class="abouttag">
            <h1 class="label">ABOUT</h1>
        </div>

      </div>
      </div>
    <div class="content">
      <div class="empty"></div>
      {{{content}}}
    </div>
  </body>
</html>
