<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../public/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Monkey Blog</title>
  </head>
  <body>
    <audio controls autoplay>
      <source src="../../public/sounds/background-noise.mp3" type="audio/mp3">
    </audio>
    <div class="navbar">
      <div class="Tasminions">
        <div class="T block">T</div><div class="a block">A</div><div class="s block">S</div><div class="m block">M</div><div class="i block">I</div>
        <div class="n block">N</div><div class="i block">I</div><div class="o block">O</div> <div class="n block">N</div><div class="s block">S</div>
      </div>

      <div class="monkey">
        <div class="hamburger-menu">

          <a href="/dashboard">Login</a>

          <div class="">
          </div>
          <div class="">
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      {{{content}}}
    </div>

    <script type="text/javascript" src="../../public/js/script.js"></script>
  </body>
</html>
