@import "modules/reset";
@import "modules/colours";
@import "modules/fonts";
@import "partials/navbar";
@import "partials/home";
@import "partials/about";


body{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a0/Lofty_Mt.Lu_by_Shen_Zhou.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
  color: rgb(42, 26, 68);
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
//img09.deviantart.net/06ac/i/2014/344/3/9/branch_png_precut_by_black_cat16_stock-d6mxs1m.png

.content {
  position: absolute;
  top: 20vh;
  width: 70%;
  left: 15%;
}

.blogPost{
  width: 80%;
  border-radius: 2%;
  background-color: rgba(196, 179, 135, 0.5);
  font-size: 50px;
  margin-left: 10%;
  padding: 12px;
  text-align: center;
font-family: 'Raleway', sans-serif;
margin-top: 10%;
}
.empty{
  margin-top: 10%;
}


.hide {
  display: none;
}
