@import "modules/reset";
@import "modules/colours";
@import "modules/fonts";
@import "partials/navbar";
@import "partials/home";
@import "partials/about";


body{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a0/Lofty_Mt.Lu_by_Shen_Zhou.jpg");
  background-repeat: repeat-y;
  color: rgb(42, 26, 68);
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.content {
  position: absolute;
  top: 20vh;
  width: 70%;
  left: 15%;
}

.empty{
  height: 450px;
}

.hide {
  display: none;
}
